/* http://www.456bereastreet.com/archive/200608/base_elements_cause_text_selection_problems_in_ie/#comment31 */
body {
	position: relative;
}

/*
	LOGO, CONTROL PANEL AND NAVIGATION
	*************************************************************************/
/* *************************************************************************/

/*
	HEADER
	******************************/
#logo > a + a {
	position: relative;
	top: 1px;
}

a.button {
	position: relative;
	top: 12px;
}

#alfsearch_menu ul li {
	margin: 0; 
}

	#alfsearch_menu ul li input {
		position: relative;
		top: 1px;
		margin-right: 4px;
	}
	
#menu li.dropdown > div {
	position: absolute;
	top: 10px;
	left: 0;
	padding-left: 17px;
	width: 85%;
	z-index: -1;
}

/*
	LEFT NAVIGATION BAR
	*************************************************************************/
/* *************************************************************************/

/*
	SIDEBAR
	******************************/
#sidebar {
	margin-top: 1px;
}

#sidebar > ul > li .treeNode td:first-child {
	height: 16px;
}

/*
	CONTENT
	*************************************************************************/
/* *************************************************************************/

input[type="submit"] {
	overflow: auto;
	padding-left: 13px;
	padding-right: 13px;
}

#content,
.column,
.panel-column {
	overflow: hidden;
}

#actions .actions {
	padding-top: 8px;
}

#actions ul li,
#footer-actions ul li {
	display: inline;
	float: none;
}

td.actions-column {
	position: static;
}

.actions-column .ie7-z-index {
	position: relative;
	z-index: 100;
}

.panel-wrapper .title-component	{
    position: relative;
}

.title-component:hover {
	z-index: 1000;
}

.dropdown-menu {
	left: 0;
	z-index: 999;
}

#menu li.dropdown {
	z-index: 10001
}
.on-top {
  z-index: 1000;
}

.extra-actions > li > a {
	padding-top: 0;
	padding-bottom: 8px;
}

.extra-actions {
	margin-right: -3px;
}

.right.dropdown-menu {
	left: auto;
}

.in-title.dropdown-menu {
	left: auto;
	right: 0px;
	top: 20px;
}

td .dropdown-menu {
	top: 0;
	left: auto;
}

table.table-padding td {
	padding: 0;
}

th {
	padding-top: 3px;
}

.multiE th {
	padding-top: 0px;
}

.propertiesLabel img {
	margin-left: 0;
}

.propertiesLabel + td .propertiesLabel + td {
	width: auto;
}

/* max-width does not work in IE */
#container-content .multiE td select {
	width: 226px;
}

hr {
	margin: 0;
	border-top: #efefef 1px solid;
}

#metadata-panel td td input[type="text"] {
	width: 300px;
}

.recipient.cells1 input[type="text"] {
	width: 300px !important; 
}

.recipient.cells2 input[type="text"] {
	width: 146px !important;
}

.subPropertySheetTR.borderless > td {
	padding-left: 98px;
}

.edit-mode .subPropertySheetTR.borderless > td {
	padding-left: 90px;
}

.footer-component {
	margin-left: 84px;
}

/*
	TITLEBAR
	******************************/
	
#additional {
	/*z-index: 100;*/
}


.dropdown-menu > span {
	position: relative;
	top: 8px;
}

.dropdown-menu-anchor img {
	vertical-align: 1px !important;
	top: 9px !important;
}

.dropdown-menu.in-title > span {
	top: 5px;
}

.dropdown-menu span > li:first-child {
	margin-top: -7px;
}

.extra-actions .dropdown-menu {
	overflow: visible !important;
}

	.dropdown-menu.no-icon span,
	.dropdown-menu.no-icon a {
		padding-left: 22px;
	}

.dropdown-menu li a {
	width: auto;
}

.extra-actions ul.dropdown-menu {
	padding: 2px 0px 11px 3px;
}

.panel-wrapper .title-component .dropdown-menu a {
	margin-left: 0;
}

.propertiesLabel {
	line-height: 16px;
}

.propertiesLabel + td {
	line-height: 16px;
}

.overflow-wrapper {
	padding-bottom: 20px;
}

/*
	FOOTER
	******************************/
#footer {
	z-index: -1;
}


/*
	PANELS
	******************************/
.panel-90 {
	margin-left: -1px;
	margin-right: 1%;
}

.panel-10 {
	margin-left: -1px;
}

.panel-35-f {
	margin-left: -1px;
}

#advanced-search-field .panel-border,
#adv-search-1st-col .panel-border,
#adv-search-2nd-col .panel-border {
	padding-bottom: 20px;
}

#restrict-panel td,
#location-panel td {
	padding-bottom: 0px !important;
}

/*
	CONTAINER CONTROLS
	******************************/

.container-buttons input {
	margin-top: 3px;
}

.container-buttons input[disabled] {
	background: url("../images/parts/button-deactive-bg.png") repeat-x;
	font-weight: normal;
}

/*
	VIEWS
	*************************************************************************/
/* *************************************************************************/

/*
	MANAGE USER GROUPS
	******************************/
#quota-panel {
	margin-bottom: 0;
}

/*
	hasLayout
	*************************************************************************/
/* *************************************************************************/

.panel-border,
#content,
#titlebar,
#titlebar-search {
	height: 1%;	
}

#menu .dropdown .dropdown {
	
}

/*#header li,*/
#shelf li,
#content li,
.icon-link {
	zoom: 1;
}
/*
.extra-actions a {
    padding: 0 6px 6px 22px;
}
*/

.ie7-workflow DIV.panel-border {
  position: static !important;
}

.task-sheet-buttons {
	margin-left: 133px;
}

.inline-property-group input {
	vertical-align: top !important;
}


#aoscModal-container-modalpopup {
	height: 200px;
}

.subPropertySheetTR div:first-child {
	overflow: visible;
}

.long-content {
	top: -4px;
}

.generic-picker {
	table-layout: fixed;
}

#add-authority-search {
	margin-left: -1px;
}

.left44, .left99 {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

table.detailsMultiTbody input[type='checkbox']{
	height: 14px;
}

/* hack for IE for rows that don't have remove link */
table.privileges .linkReplacement{
	height: 16px;
	padding-bottom: 1px;
}

.sys-error-details {
	overflow: hidden;
}

#metadata-panel table.inline:first-child {
   table-layout: auto;
}