tcp {

    # DHS IMAP
    server {
        listen 143;
        proxy_pass dhs01-imap;
    }

    upstream dhs01-imap {
        # Not mandatory, but it's more efficient if same user stays on the same backend server.
    	ip_hash;
        server dhs-n1.example.com:1143;
    }

}
