<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

   <!-- Because servlet name is 'spring-ws', it expects to load its application context from WEB-INF/spring-ws-servlet.xml -->

   <!-- Spring-WS servlet creates a child application context, with main spring context as the parent. -->
   <!-- Some beans have to be here for Spring-WS servlet to autodetect them, but we can reference other -->
   <!-- beans from parent context (e.g. GeneralService, ...) -->

   <bean class="org.springframework.ws.transport.http.WsdlDefinitionHandlerAdapter">
      <property name="transformLocations" value="true" />
   </bean>

   <bean class="org.springframework.ws.transport.http.WebServiceMessageReceiverHandlerAdapter">
      <property name="messageFactory">
         <bean class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />
      </property>
   </bean>

   <bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
      <property name="interceptors">
         <list>
            <bean class="org.springframework.ws.soap.server.endpoint.interceptor.SoapEnvelopeLoggingInterceptor" />
         </list>
      </property>
   </bean>

   <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />

   <import resource="classpath:ee/webmedia/alfresco/relvastus/relvastus-ws-context.xml" />
   <import resource="classpath:ee/webmedia/alfresco/ikt/ikt-ws-context.xml" />
   <import resource="classpath:ee/webmedia/alfresco/adddocument/add-document-ws-context.xml" />

</beans>
